@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --color-zinc-50: #fafafa;
  --color-zinc-900: #18181b;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-zinc-50);
  color: var(--color-zinc-900);
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}